<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h2>Task List</h2>
    <form method="post" action="/add">
        <input type="text" name="taskName">
        <input type="text" name="dueDate">
        <input type="submit" value="Add Task">
    </form>
    <table>
        <tr>
            <th>Tasks</th>
            <th>Due Date</th>
            <th>Is Completed</th>
        </tr>
        {% for task in tasklist: %}
            <tr>
                <form action="/update" method="post">
                    <td>
                        <input type="hidden" name="id" value="{{ task[0] }}">
                        <input type="text" name="updateTask" value="{{ task[1] }}">
                    </td>
                    <td><input type="text" name="updateDate" value="{{ task[2] }}"></td>
                    <td>{{task[3]}}</td>
                    <td><input type="submit" name="saveOrDeleteOrComplete" value="update" /></td>
                    <td><input type="submit" name="saveOrDeleteOrComplete" value="X" /></td>
                    <td><input type="submit" name="saveOrDeleteOrComplete" value="complete" /></td>
                </form>
            </tr>
        {% endfor %}
    </table>
</body>
</html>